a {
  color: #0084e2; }
  a:hover {
    color: #52c0ce; }

h1 {
  margin: 1rem 0 1rem; }

h2 {
  margin: 1rem 0 1rem; }

h3 {
  margin: 1.5rem 0 1rem; }

.vert-spacing--margin {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.vert-spacing--padding {
  padding-bottom: 1rem;
  padding-top: 1rem; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.container {
  margin-top: 30px;
  margin-bottom: 120px; }

.video--content {
  text-align: center;
  margin: 2rem 0 2rem; }



@import 'general-settings';
@import 'colours';
@import 'typography';

@import 'header';
@import 'nav';

@import 'hero-banner';
@import 'glitch';

@import 'footer';
